In [12]:
import warnings
warnings.filterwarnings("ignore")
import pandas as pd
import numpy as np
from scipy import stats
from IPython.display import HTML, display

#### 1. Pandas is a module for data mining in Python. We've talked about the Pandas I/O API, data exploration methods, and computational tools. Download the loan data from Lending Club that we used in the lab. Leveraging Pandas, attempt the following: 

    a. Create a data frame object by importing the dataset.

In [2]:
# Create a data frame object by importing the dataset. 
df = pd.read_csv('C:/Users/e059172/OneDrive - DePaul University/Depaul-Courses/IS 467/loan/loan.csv', delimiter='~}',na_values='nan')
df.head()

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,...,num_tl_op_past_12m,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit,Unnamed: 111
0,1077501,1296599,5000,5000,4975.0,36 months,10.65%,162.87,B,B2,...,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN,NaN
1,1077430,1314167,2500,2500,2500.0,60 months,15.27%,59.83,C,C4,...,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN,NaN
2,1077175,1313524,2400,2400,2400.0,36 months,15.96%,84.33,C,C5,...,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN,NaN
3,1076863,1277178,10000,10000,10000.0,36 months,13.49%,339.31,C,C1,...,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN,NaN
4,1075358,1311748,3000,3000,3000.0,60 months,12.69%,67.79,B,B5,...,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN,NaN

    b. How many features exist in the dataset that contain at least one missing case?

In [3]:
# How many features exist in the dataset that contain at least one missing case?
print (df.isnull().sum().sum(), 'Features')

2463406 Features

    c. Using integer-location based indexing, select the third-through-sixth instances together with the features funded_amnt, funded_amnt_inv, and term.

In [4]:
# Using integer-location based indexing, select the third-through-sixth instances together with the features 
# funded_amnt, funded_amnt_inv, and term.  
df[['funded_amnt', 'funded_amnt_inv', 'term']].iloc[2:5]

   funded_amnt  funded_amnt_inv        term
2         2400           2400.0   36 months
3        10000          10000.0   36 months
4         3000           3000.0   60 months

    d. For the feature loan_amnt¸ determine the following: count, count missing, mean, standard deviation, minimum, Q1, median, Q3, and maximum.

In [6]:
loan_amt = df['loan_amnt'].tolist()

# count values
print (len(df['loan_amnt']), 'Loan Amounts')

# count missing
print(df['loan_amnt'].isnull().values.sum(), 'Missing Values')

# Mean
print ('Mean:', np.mean(loan_amt))

# standard deviation
print ('Standard Deviation:', np.std(loan_amt))

# Min
print ('Minumum:', np.min(loan_amt))

# 1st Quartile
print ('1st Quartile:', np.percentile(loan_amt, 1))

# 3rd Quartile
print ('3rd Quartile:', np.percentile(loan_amt, 3))

# 4th Quartile
print ('Maximum:', np.max(loan_amt))

42535 Loan Amounts
0 Missing Values
Mean: 11089.72258140355
Standard Deviation: 7410.851274266493
Minumum: 500
1st Quartile: 1200.0
3rd Quartile: 1825.0
Maximum: 35000

    e. Create a scatter plot using the features loan_amnt and installment.

In [7]:
import plotly.plotly as py
import plotly.graph_objs as pgo



# Create a trace
trace = pgo.Scattergl(
    x = df['installment'],
    y = df['loan_amnt'],
    mode = 'markers'
)

data = [trace]

py.iplot(data, filename='basic-scatter')

    f. Determine the Pearson correlation coefficient for the loan_amnt and funded_amnt. How do you interpret the result, given what you know about the features?

In [11]:
a = df['installment'].tolist()
b = df['loan_amnt'].tolist()
print (stats.pearsonr(a, b))

print ('indicates weak evidence against the null hypothesis and reject the null hypothesis')

(0.9308691811558744, 0.0)
indicates weak evidence against the null hypothesis and reject the null hypothesis

##### 2. Machine Learning (ML) can be defined as computer programs that learn to improve performance at a task through experience. We've talked about a variety of important concepts as they relate to ML. In your own words, please answer the following

    a. What is Supervised Learning?
    
Supervised learning is where you have input variables (x) and an output variable (Y) and you use an algorithm to learn the mapping function from the input to the output.

Example. Y = f(X)

    b. What is Unsupervised Learning?
  
Unsupervised learning is where you only have input data (X) and no corresponding output variables.

    c. How does Machine Learning differ from Artificial Intelligence?
    
Artificial Intelligence is the broader concept of computers being able to carry out tasks in a way that we would consider autonomous while Machine Learning is an instance/application of based around the complex decision trees or machines learning by referencing datasets

    d. Give one example of Supervised Learning and one example of Unsupervised Learning, and describe why each example belongs to the that particular category of ML. 
    
    Supervised Learning (Training Needed)
    Suppose you had a basket and filled it with different kinds of fruits. Your task is to arrange them into groups. 
    now we have categorized each fruit into groups (training the data) based on characteristics from the groups we can now learn from it and use it to identify new fruits added to the basket
    
    Un-Supervised Learning (No Training Needed)
    Using the same example we dont know any of the different furits in the basket but just arrange them based on physical characteristics. color, size, weight. and use those characteristics to match and identify new items added to the basket

#### 3. In your own words, define the following feature selection measures (please include the relevant formula for calculating each measure):

    a. Gini Index
    
        This is a statistical measure of distribution, it calculates the diversity from the sum of squared category probabilities 1/(1−G)
    
    
    b. Gini Split
    
        ??
    
    c. Entropy
        
        Entropy is a measure for (un-)orderedness
        
        ES =−p⊕⋅log2 p⊕− p⊖⋅log2 p⊖
        
    d. Gain Split
    
        ??
        
    e. Gain Ratio
    
        modification of the information gain that reduces its bias towards multi-valued attributes

#### 4. Consider the following training set for a binary classification problem to predict whether a customer is likely to renew the subscription to a certain magazine based on gender and car type:

    a. Create subsamples based on Gender and compute the percentage of Yes and No in each split. Fill the following tables
    
    | Renew         | Y             | N     |
    | ------------- | ------------- | ----- |
    | Gender=M      | 60%           | 40%   |
    
    | Renew         | Y             | N     |
    | ------------- | ------------- | ----- |
    | Gender=F      | 28%           | 42%   |
    
    b. Create subsamples based on Car type and compute the percentage of Yes and No in each split. Fill the following tables
    
    | Renew         | Y             | N     |
    | ------------- | ------------- | ----- |
    | CarType=F     | 50%           | 50%   |
    
    | Renew         | Y             | N     |
    | ------------- | ------------- | ----- |
    | CarType=L     |  10%           | 90%  |
    
    
    | Renew         | Y             | N     |
    | ------------- | ------------- | ----- |
    | CarType=L     |  100%         | 0%    |
    
    
    c. Which attribute creates the best split in terms of purity of subsamples? There is no need to provide exact values for information gain. Just compare distribution of Y/N.
    
    CarType=L 
    
    d. Compute the Entropy and Gini Index of “Gender”, “CarType”, and “Renew”.
    
    ??
    
    e. Select the “best” splitting attribute based on Gain Split, and build the first branch of the tree. Then use the other attributes to split the subsamples further.
    
    ??