# 1. This table is un-normalized form. Convert this table from 1NF to 3NF

In [1]:
import pandas as pd

def create_table(df, cols):
    df = df[cols].drop_duplicates().reset_index(drop=True)
    return df

# Convert Table to 1NF to 3NF
data = {'Project Code'    :['PC010', 'PC010', 'PC010', 'PC045', 'PC045', 'PC045', 'PC045', 'PC064', 'PC064', 'PC064'],
        'Project Title'   :['Pension Systems','Pension Systems','Pension Systems','Salary Systems', 
                            'Salary Systems', 'Salary Systems', 'Salary Systems', 'HR Systems', 
                            'HR Systems', 'HR Systems'],
        'Project Manager' :['M Philips', 'M Philips', 'M Philips', 'H Martin', 'H Martin', 'H Martin', 'H Martin',
                            'K Lewis', 'K Lewis', 'K Lewis'],
        'Project Budget'  :['24500', '24500', '24500', '17400', '17400', '17400', '17400', '12250',
                            '12250', '12250'],
        'Employee No.'    :['S10001', 'S10030', 'S21010', 'S10010','S10001', 'S31002', 'S13210', 
                            'S31002', 'S21010', 'S10034'],
        'Employee Name'   :['A. Smith', 'L. Jones', 'P. Lewis', 'B. Jones', 'A. Smith', 'T. Gilbert', 'W. Richards',
                            'T. Gilbert', 'P. Lewis', 'B. James'],
        'Department No.'  :['L004', 'L023', 'L004', 'L004', 'L004', 'L028', 'L008', 'L028', 'L004', 'L009'],
        'Department Name' :['IT', 'Pensions', 'IT', 'IT', 'IT', 'Database', 'Salary', 'Database', 'IT', 'HR'],
        'Hourly Rate'     :[22.00, 18.50, 21.00, 21.75, 18.00, 25.50, 17.00, 23.25, 17.50, 16.50]
       }
df = pd.DataFrame(data)
# Sort Columns to mathc assignment sheet
df = df[['Project Code', 'Project Title', 'Project Manager', 'Project Budget', 'Employee No.', 'Employee Name',
         'Department No.', 'Department Name', 'Hourly Rate']]

# Table 1
cols = ['Project Code', 'Project Title', 'Project Manager', 'Project Budget']
table_1 = create_table(df, cols)
# Table 2
cols = ['Project Code', 'Employee No.', 'Employee Name', 'Department No.', 'Department Name', 'Hourly Rate']
table_2 = create_table(df, cols)

In [25]:
print ('*'* 4**3, '1NF', '*'* 3**3)
print (table_1)
print (table_2)
print ('*'* 4**3, '2NF', '*'* 3**3)
print (table_1)
# Table 2
cols = ['Project Code', 'Employee No.','Hourly Rate']
table_3 = create_table(df, cols)
print (table_3)
cols = ['Employee No.', 'Employee Name', 'Department No.', 'Department Name']
table_4 = create_table(df, cols)
print (table_4)
print ('*'* 4**3, '3NF', '*'* 3**3)
print (table_1)
print (table_3)
cols = ['Employee No.', 'Employee Name', 'Department No.']
table_5 = create_table(df, cols)
print (table_5)
cols = ['Department Name', 'Department No.']
table_6 = create_table(df, cols)
print (table_6)

**************************************************************** 1NF ***************************
  Project Code    Project Title Project Manager Project Budget
0        PC010  Pension Systems       M Philips          24500
1        PC045   Salary Systems        H Martin          17400
2        PC064       HR Systems         K Lewis          12250
  Project Code Employee No. Employee Name Department No. Department Name  \
0        PC010       S10001      A. Smith           L004              IT
1        PC010       S10030      L. Jones           L023        Pensions
2        PC010       S21010      P. Lewis           L004              IT
3        PC045       S10010      B. Jones           L004              IT
4        PC045       S10001      A. Smith           L004              IT
5        PC045       S31002    T. Gilbert           L028        Database
6        PC045       S13210   W. Richards           L008          Salary
7        PC064       S31002    T. Gilbert           L028        Database
8        PC064       S21010      P. Lewis           L004              IT
9        PC064       S10034      B. James           L009              HR

   Hourly Rate
0        22.00
1        18.50
2        21.00
3        21.75
4        18.00
5        25.50
6        17.00
7        23.25
8        17.50
9        16.50
**************************************************************** 2NF ***************************
  Project Code    Project Title Project Manager Project Budget
0        PC010  Pension Systems       M Philips          24500
1        PC045   Salary Systems        H Martin          17400
2        PC064       HR Systems         K Lewis          12250
  Project Code Employee No.  Hourly Rate
0        PC010       S10001        22.00
1        PC010       S10030        18.50
2        PC010       S21010        21.00
3        PC045       S10010        21.75
4        PC045       S10001        18.00
5        PC045       S31002        25.50
6        PC045       S13210        17.00
7        PC064       S31002        23.25
8        PC064       S21010        17.50
9        PC064       S10034        16.50
  Employee No. Employee Name Department No. Department Name
0       S10001      A. Smith           L004              IT
1       S10030      L. Jones           L023        Pensions
2       S21010      P. Lewis           L004              IT
3       S10010      B. Jones           L004              IT
4       S31002    T. Gilbert           L028        Database
5       S13210   W. Richards           L008          Salary
6       S10034      B. James           L009              HR
**************************************************************** 3NF ***************************
  Project Code    Project Title Project Manager Project Budget
0        PC010  Pension Systems       M Philips          24500
1        PC045   Salary Systems        H Martin          17400
2        PC064       HR Systems         K Lewis          12250
  Project Code Employee No.  Hourly Rate
0        PC010       S10001        22.00
1        PC010       S10030        18.50
2        PC010       S21010        21.00
3        PC045       S10010        21.75
4        PC045       S10001        18.00
5        PC045       S31002        25.50
6        PC045       S13210        17.00
7        PC064       S31002        23.25
8        PC064       S21010        17.50
9        PC064       S10034        16.50
  Employee No. Employee Name Department No.
0       S10001      A. Smith           L004
1       S10030      L. Jones           L023
2       S21010      P. Lewis           L004
3       S10010      B. Jones           L004
4       S31002    T. Gilbert           L028
5       S13210   W. Richards           L008
6       S10034      B. James           L009
  Department Name Department No.
0              IT           L004
1        Pensions           L023
2        Database           L028
3          Salary           L008
4              HR           L009

# 2.  The following schema is used to register information on repayment of loans
Schema: Repayment(borrower_id,name,address,loanamount,requestdate,repayment_date, repayment_amount)
- Functional Dependancies:
    - borrower_id              : name, address
    - borrower_id, requestdate : loanamount 
- Conversion Schema to 3NF
    - 1_Repayment (borrower_id,name,address)
    - 2_Repayment (borrower_id,requestdate,loanamount)
    - 3_Repayment (borrower_id,requestdate,repayment_date,repayment_amount)

# 3. Create a relational schema with underlined (primary) keys and arrows connecting foreign keys and primary keys for a database containing the following information.

-	Authors have Last Name, Firstname, ID, and Birthdate (identified by Author_ID)
-	Publishers have Name, ID, address (identified by Publisher_ID)
-	Books have ISBN, Title, Publisher (each book has a unique publisher and can be identified by ISBN).
-	Authors Write Books; many authors can co-author a book. 

Author ID and Publisher ID are underlined and forienkeys are in **Bold**

![title](Screen Shot 2018-04-10 at 4.23.18 PM.png)

### 4.  Consider the below table structure that a company uses to keep track of office equipmentâ€™s.

The Item_Id is the primary key while room_num identifies other details(i.e, bld_num, bld_name)
This is then a transitive dependency.

Item_Id -> Item_Label, Room_num, bld_num, bld_name, bld_manager

Room_num -> bld_num, bld_name, bld_manager

There is no partial dependency in this relation. 

The 3NF normalized form is R1 (Item_id, Item_Label) and R2 (Room_Num, Bld_num, Bld_name, Bld_manager)

# 5. Normalize the below data

 - Schema representation of given database is:
     - CustOrderForm(ProdNo(Primary Key),ProdDesc,Quantity,UnitPrice,SubTotal,OrderNo,OrderDate,CusNo,Cusname,CusAdd
 - 1NF
     - The data provided is already in 1NF
 - 2NF
     - Product(ProdNo(Primary Key),ProdDesc,Quantity,UnitPrice,SubTotal)
     - Order(OrderNo(Primary Key),OrderDate,Quantity,subtotal,UnitPrice,ProdNo(Foreign Key))
     - Customer(CusNo(Primary Key),CusName,CusAdd,OrderNo(Foreign Key))

- Schema Representation of the Table: 
    - OrderForm, Product No., Description,Quantity,UnitPrice,OrderNo,Date,Customer No,Customer Name, Customer Address)
- 1NF
    - As per the 1NF Rule, each and every attribute in a table must be unique and its already in first normal form
- 2NF
    - As per second normal form,schema should be in 1NF and attributes within that table should depend individually on primary key
    - Partial dependancy would be on the primary key **Product No.**
    - Product(ProdNo(Primary Key),ProdDesc,Quantity,UnitPrice,SubTotal)
    - Order(OrderNo(Primary Key),OrderDate,Quantity,subtotal,UnitPrice,ProdNo(Foreign Key))
    - Customer(CusNo(Primary Key),CusName,CusAdd,OrderNo(Foreign Key))
- 3NF
    - After normalizing the table to 2NF there are no trivial dependencies