In [1]:
import pandas as pd
import config

#### Part 1

In [2]:
# Create Tables needed for the assignment
query = [
         'create table park_grades(grade_id int primary key, grade_name varchar2(10), min_price varchar2(30), max_price varchar2(30))',
         'create table packages(pack_id int primary key, speed int, strt_date date, monthly_payment, sector_id int)',
         'create table sectors(sector_id int primary key, sector name varchar2(10))'
        ]
for i in query:
    print (i)

create table park_grades(grade_id int primary key, grade_name varchar2(10), min_price varchar2(30), max_price varchar2(30))
create table packages(pack_id int primary key, speed int, strt_date date, monthly_payment, sector_id int)
create table sectors(sector_id int primary key, sector name varchar2(10))