Olusola Ogun

Assignment #4

# Section 1

### Using the messaging.sql database (posted in with this assignment), write the following SQL queries. 
* Add yourself as a new record in the “person” table. Use your first name and last name for one of the new records that you are inserting.
    * **INSERT INTO Person (person_id, first_name, last_name) VALUES (7, 'Olusola', 'Ogun');**
* Alter the Person table by adding a new property of your choice with the data type of your choice.
    * **ALTER TABLE Person ADD city VARCHAR(50) **
* Update your record in the Person table by setting some value to your new property.
    * ** UPDATE person SET city = 'Lisle' WHERE person_id = 7**
* Delete the Diana Taurasi record
    * **DELETE FROM person WHERE person_id = 6 **
* Alter the Contact List table and add column for Favorite
    * **ALTER TABLE contact_list ADD favourite VARCHAR(1) DEFAULT NULL**
* Update the existing records in the “contact_list” table to use the new column that you created. Update the records in the table by setting Michael Phelps as everyone's favorite contact (contact_id = 1). The value for the “favorite” column should be set to “y” for these records.
    * **UPDATE contact_list SET favourite = 'y' WHERE contact_id = 1**
* Update the existing records in the “contact_list” table to use the new column that you created. Update the remaining record(s) in the table by setting every contact who is NOT Michael Phelps (contact_id <> 1) to not be a favorite. The value for the “favorite” column should be set to “n” for these records
    * **UPDATE contact_list SET favourite = 'n' WHERE contact_id <> 1**

-	
-	
-	
-	Alter the Contact List table and add column for Favorite
-	Update the existing records in the “contact_list” table to use the new column that you created. Update the records in the table by setting Michael Phelps as everyone's favorite contact (contact_id = 1). The value for the “favorite” column should be set to “y” for these records.
-	Update the existing records in the “contact_list” table to use the new column that you created. Update the remaining record(s) in the table by setting every contact who is NOT Michael Phelps (contact_id <> 1) to not be a favorite. The value for the “favorite” column should be set to “n” for these records
-	Insert at least 3 new records in the “contact_list” table. Note: You are required to add at least 3 new records with yourself as a new contact in the “contact_list” table. Make sure that you provide a value (y or n) for the new “favorite” column.
-	Create a new table image with columns (image_id, image_name, image_location). Image_id is the primary key
-	Create a message-image table with columns (image_id,message_id). Image_id and message_id are the primary keys.
-	Insert 5 new records in the “image” table.
-	Insert 5 new records in the “message-image” table.
-	Find All of the Messages that Michael Phelps Sent. Display the following columns
o	Sender's first name 
o	Sender's last name 
o	Receiver's first name 
o	Receiver's last name 
o	Message ID 
o	Message 
o	Message Timestamp
-	Find the Number of Messages Sent for Every Person. Display the following columns
o	- Count of messages –
o	Person ID 
o	First Name 
o	Last Name
-	Find All of the Messages that Have At Least One Image Attached Using INNER JOINs. Display the following columns: 
o	Message ID 
o	Message 
o	Message Timestamp 
o	First Image Name 
o	First Image Location



-- Update your record in the Person table by setting some value to your new property.
UPDATE person
SET email = 'delta@example.com'
WHERE person_id = 7;

-- Delete the Diana Taurasi record.
DELETE
FROM person
WHERE person_id = 6;

-- Alter the Contact List table and add column for Favorite
ALTER TABLE contact_list ADD favourite VARCHAR(1) DEFAULT NULL;

-- Update the existing records in the “contact_list” table to use the new column that you created. Update the records in the table by setting Michael Phelps as everyone's favorite contact (contact_id = 1). The value for the “favorite” column should be set to “y” for these records.
UPDATE contact_list
SET favourite = 'y'
WHERE contact_id = 1;

-- Update the existing records in the “contact_list” table to use the new column that you created. Update the remaining record(s) in the table by setting every contact who is NOT Michael Phelps (contact_id <> 1) to not be a favorite. The value for the “favorite” column should be set to “n” for these records
UPDATE contact_list
SET favourite = 'n'
WHERE contact_id <> 1;

-- Insert at least 3 new records in the “contact_list” table. Note: You are required to add at least 3 new records with yourself as a new contact in the “contact_list” table. Make sure that you provide a value (y or n) for the new “favorite” column.
INSERT INTO contact_list (connection_id, person_id, contact_id)
VALUES (15, 7, 1, 'y');

INSERT INTO contact_list (connection_id, person_id, contact_id)
VALUES (16, 7, 2, 'n');

INSERT INTO contact_list (connection_id, person_id, contact_id)
VALUES (17, 7, 3, 'n');

-- Create a new table image with columns (image_id, image_name, image_location). Image_id is the primary key
CREATE TABLE IMAGE (image_id NUMBER NOT NULL, image_name VARCHAR(25) NOT NULL, image_location VARCHAR(100) NOT NULL, PRIMARY KEY (image_id));

-- Create a message-image table with columns (image_id,message_id). Image_id and message_id are the primary keys.
CREATE TABLE message - IMAGE (image_id NUMBER NOT NULL, message_id NUMBER NOT NULL, PRIMARY KEY (image_id, message_id), FOREIGN KEY (image_id) REFERENCES IMAGE (image_id));

-- Insert 5 new records in the “image” table.
INSERT INTO IMAGE (image_id, image_name, image_location)
VALUES (1, 'img1', 'location1');

INSERT INTO IMAGE (image_id, image_name, image_location)
VALUES (2, 'img2', 'location2');

INSERT INTO IMAGE (image_id, image_name, image_location)
VALUES (3, 'img3', 'location3');

INSERT INTO IMAGE (image_id, image_name, image_location)
VALUES (4, 'img4', 'location4');

INSERT INTO IMAGE (image_id, image_name, image_location)
VALUES (5, 'img5', 'location5');

-- Insert 5 new records in the “message-image” table.
INSERT INTO message - IMAGE (image_id, message_id)
VALUES (1, 1);

INSERT INTO message - IMAGE (image_id, message_id)
VALUES (2, 2);

INSERT INTO message - IMAGE (image_id, message_id)
VALUES (3, 3);

INSERT INTO message - IMAGE (image_id, message_id)
VALUES (4, 4);

INSERT INTO message - IMAGE (image_id, message_id)
VALUES (5, 5);

-- Find All of the Messages that Michael Phelps Sent. Display the following columns
-- Sender's first name, Sender's last name, Receiver's first name, Receiver's last name, Message ID, Message ,Message Timestamp
SELECT sender.first_name, sender.last_name, reciever.first_name, reciever.last_name, message.message_id, message.message, message.send_datetime
FROM message
INNER JOIN person sender
   ON sender.person_id = message.sender_id
INNER JOIN person reciever
   ON message.reciever_id = reciever.reciever_id
WHERE sender.first_name = 'Michael'
   AND sender.last_name = 'Phelps';

-- Find the Number of Messages Sent for Every Person. Display the following columns
-- - Count of messages – , Person ID , First Name, Last Name
SELECT count(message.message_id), person.person_id, person.first_name, person.last_name
FROM message
INNER JOIN person
   ON message.reciever_id = person.person_id
GROUP BY message.reciever_id